@font-face {
    font-family: 'ristretto-pro-regular';
    src:
        url('../../fonts/ristrettoProRegular/RistrettoPro-Regular-webfont.woff2') format('woff2'),
        url('../../fonts/ristrettoProRegular/RistrettoPro-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-medium';
    src:
            url('../../fonts/helveticaNeue/HelveticaNeue.woff2') format('woff2'),
            url('../../fonts/helveticaNeue/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-italic';
    src:
        url('../../fonts/helveticaNeueItalic/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../../fonts/helveticaNeueItalic/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-bold';
    src:
        url('../../fonts/helveticaNeueBold/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../../fonts/helveticaNeueBold/HelveticaNeue-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyr-light';
    src:
        url('../../fonts/helveticaNeueLight/HelveticaNeue-Light.woff2') format('woff2'),
        url('../../fonts/helveticaNeueLight/HelveticaNeue-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
