@font-face {
    font-family: 'ristretto-pro-regular';
    src:
        url('../../fonts/ristrettoProRegular/RistrettoPro-Regular-webfont.woff2') format('woff2'),
        url('../../fonts/ristrettoProRegular/RistrettoPro-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-medium';
    src:
            url('../../fonts/helveticaNeueRegular/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
            url('../../fonts/helveticaNeueRegular/helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-italic';
    src:
        url('../../fonts/helveticaNeueItalic/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
        url('../../fonts/helveticaNeueItalic/helveticaneuecyr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-bold';
    src:
        url('../../fonts/helveticaNeueBold/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
        url('../../fonts/helveticaNeueBold/helveticaneuecyr-bold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'helveticaneuecyr-light';
    src:
        url('../../fonts/helveticaNeueLight/helveticaneuecyr-light-webfont.woff2') format('woff2'),
        url('../../fonts/helveticaNeueLight/helveticaneuecyr-light-webfont.woff') format('woff');
}
