@import "./fonts.pcss";

:root {
  --default-black-color: #000;
  --default-white-color: #fff;
  --accent-color: #ffff00;
  --primary-border-color: #bababa;
  --secondary-border-color: #7c7c7c;
  --font-bold: 'opensans-bold', Arial, sans-serif;
  --font-semibold: 'opensans-semibold', Arial, sans-serif;
  --font-regular: 'opensans-regular', Arial, sans-serif;
}