main.main#main
    include ../blocks/header
    include ../blocks/article-detailed
    div.commerical-with-line-container
        include ../blocks/commerical-with-line
        include ../blocks/footer
        include ../blocks/go-top
