include ../blocks/footer
main.main#main
    include ../blocks/header
    include ../blocks/article-detailed
    div.commerical-with-line-container
        include ../blocks/commerical-with-line
    +footer('footer main__footer main__footer--with-out-margin')
    include ../blocks/go-top
