include ../blocks/header
main.main#main
    +header('article')
    include ../blocks/article-detailed
    div.commerical-with-line-container
        include ../blocks/commerical-with-line
        include ../blocks/footer
        include ../blocks/go-top
