include ../blocks/header
include ../blocks/footer
main.main#main
    +header('article')
    include ../blocks/article-detailed
    div.commerical-with-line-container
        include ../blocks/commerical-with-line
    +footer('footer--grey footer gel-layout footer--full-width footer--padding')
    include ../blocks/go-top
