main.main#main
    include ../blocks/header
    include ../blocks/author-bio
    include ../blocks/author-materials
    div.column-commerical-container
        include ../blocks/column-commerical
        include ../blocks/footer
        include ../blocks/go-top