include ../blocks/header
include ../blocks/footer
main.main#main
    +header('author')
    include ../blocks/author-bio
    include ../blocks/author-materials
    div.column-commerical-container
        include ../blocks/column-commerical
    +footer('footer--grey footer gel-layout footer--full-width footer--padding')
    include ../blocks/go-top