include ../blocks/footer
main.main#main
    include ../blocks/header
    include ../blocks/book
    include ../blocks/second-inline-commerical
    +footer('footer main__footer')
    include ../blocks/go-top