include ../blocks/footer
main.main#main
    include ../blocks/header
    include ../blocks/book
    include ../blocks/second-inline-commerical
    +footer('footer main__footer main__footer--without-margin main__footer--with-margin-on-tablet-small')
    include ../blocks/go-top