include ../blocks/header
include ../blocks/footer
main.main#main
    +header('book')
    include ../blocks/book
    include ../blocks/second-inline-commerical
    +footer('footer gel-layout')
    include ../blocks/go-top