include ../blocks/header
include ../blocks/footer
main.main#main
    +header('gallery-detailed')
    include ../blocks/gallery-detailed
    include ../blocks/loader
    +footer('footer gel-layout')
    include ../blocks/go-top