include ../blocks/footer
include ../blocks/show-more
main.main#main
    include ../blocks/header
    include ../blocks/gallery-detailed
    include ../blocks/loader
    +show-more('main__show-more')
    +footer('footer main__footer')
    include ../blocks/go-top