main.main#main
    include ../blocks/header
    include ../blocks/gallery
    include ../blocks/loader
    include ../blocks/inline-commerical
    include ../blocks/footer
    include ../blocks/go-top