include ../blocks/header
main.main#main
    +header('gallery')
    include ../blocks/gallery
    include ../blocks/loader
    include ../blocks/inline-commerical
    include ../blocks/footer
    include ../blocks/go-top