include ../blocks/header
include ../blocks/footer
main.main#main
    +header('gallery')
    include ../blocks/gallery
    include ../blocks/loader
    include ../blocks/inline-commerical
    +footer('footer gel-layout')
    include ../blocks/go-top