include ../blocks/footer
include ../blocks/show-more
main.main#main
    include ../blocks/header
    include ../blocks/gallery
    include ../blocks/loader
    +show-more('main__show-more')
    include ../blocks/inline-commerical
    +footer('footer main__footer main__footer--without-margin main__footer--with-margin-on-tablet-small')
    include ../blocks/go-top