include ../blocks/header
include ../blocks/footer
main.main#main
    +header('library')
    include ../blocks/library
    include ../blocks/loader
    include ../blocks/second-inline-commerical
    +footer('footer gel-layout')
    include ../blocks/go-top