include ../blocks/header
main.main#main
    +header('library')
    include ../blocks/library
    include ../blocks/loader
    include ../blocks/second-inline-commerical
    include ../blocks/footer
    include ../blocks/go-top