include ../blocks/header
main.main#main
    +header('journal')
    include ../blocks/most-popular
    include ../blocks/articles
    include ../blocks/loader
    include ../blocks/footer
    include ../blocks/go-top