include ../blocks/header
include ../blocks/footer
main.main#main
    +header('journal')
    include ../blocks/most-popular
    include ../blocks/articles
    include ../blocks/loader
    +footer('footer gel-layout')
    include ../blocks/go-top