include ../blocks/header
include ../blocks/footer
main.main#main
    +header('video-detailed-movies')
    include ../blocks/video-detailed-movies
    +footer('footer gel-layout')
    include ../blocks/go-top
