include ../blocks/header
include ../blocks/footer
main.main#main
    +header('video-detailed')
    include ../blocks/video-detailed
    include ../blocks/loader
    +footer('footer gel-layout')
    include ../blocks/go-top