main.main
    include ../blocks/header
    include ../blocks/video
    article.news
        ul.news__list.js-news-list
        div.news__preloader.js-preloader
    include ../blocks/footer
    include ../blocks/go-top