.firefox {
  .navigate__gallery-figure-lines:after {
    bottom: 3px;
  }

  .navigate__gallery-figure-lines:before {
    top: 2px;
  }

  .navigate__gallery-figure:before {
    height: 73px;
  }

  .navigate__link--video {
    top: -12px;
  }
}