- var page = htmlWebpackPlugin.options.env.page;
- var title = htmlWebpackPlugin.options.title;

doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")
        script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript")
    body
        !=require('../pages/' + page)()
