- var page = htmlWebpackPlugin.options.env.page;
- var title = htmlWebpackPlugin.options.title;

doctype html
html
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-121006934-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-121006934-1');
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")
        link(rel="shortcut icon" href='favicon.ico' type="image/x-icon")
        script(src="https://www.gstatic.com/firebasejs/5.4.0/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/5.4.0/firebase-messaging.js")
    body.js-body.body
        !=require('../pages/' + page)()
