.album {

  &__images-container {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__image {
    margin-bottom: 6px;
  }
}