.articles {
  padding-top: 35px;

  @media(--desktop-small) {
    padding-top: 54px;
    padding-bottom: 84px;
  }

  &__button {
    background: transparent;
    padding: 0;
    outline: none;
  }

  &__slash {
    font-family: var(--secondary-font);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__list {
    padding-top: 35px;
    display: none;

    @media (--desktop-small) {
      padding-top: 54px;
    }

    &--active {
      display: flex;
    }
  }
}
