.article-simple-container {

  article {
    max-width: 720px;
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--secondary-text-color);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    p {
      padding-bottom: 20px;
    }
  }

  &__photo-links {
    width: 884px;
    margin: 0 auto;
  }

}