.article-source {

  &__origin {
    width: 100%;

    @media (--desktop-small) {
      width: 60%;
    }
  }

  &__tags {
    width: 100%;

    @media (--desktop-small) {
      width: 60%;
    }
  }


}