.article-detailed-container {

  &__article-materials {
    padding-bottom: 25px;

    @media (--desktop-small) {
      padding-bottom: 55px;
    }
  }

  &__article-source {
    padding: 0 10px 20px;
    justify-content: space-between;

    @media (--desktop-small) {
      padding: 0 0 70px;
    }
  }

  &__simple-links {
    padding-bottom: 55px;
  }

}