.article-source {

  &__origin {
    width: 100%;

    @media (--tablet) {
      width: 50%;
    }
  }

  &__tags {
    width: 100%;
    padding-top: 25px;

    @media (--tablet) {
      width: 50%;
      padding-top: 0;
    }
  }
}