.author-materials {

  &__title {
    font-family: var(--primary-bold-font);
    font-size: 28px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
  }

  &__list {
    max-width: 920px;
    flex-flow: row nowrap;
    overflow-x: scroll;

    @media (--desktop-small) {
      overflow-x: inherit;
      justify-content: center;
    }
  }
}