.block-title {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--default-black-color);
  color: var(--default-white-color);
  padding: 2px 1px;
}