.clarification {
  width: 178px;
  transition: opacity 0.3s linear;
  opacity: 0;

  &__title {
    font-family: var(--primary-italic-font);
    color: var(--default-black-color);
    font-weight: bold;

  }
}