.column-commerical-container {
  position: relative;
  background: var(--secondary-background-color);
  top: 80px;


  &__column-commerical {
    top: -9px;
    margin-bottom: 80px;
  }

  &__content-container {
    width: 100%;
    display: flex;
    background: var(--primary-rgba-background-color);
    border: 1px solid var(--sixty-border-color);
    padding: 26px 0;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}