.commerical-with-line-container {
    position: relative;
    background: var(--secondary-background-color);
    z-index: -1;

    &__commerical-with-line {
        top: -9px;
        padding-bottom: 100px;
    }
}
