.current {
  width: 320px;
  height: 50px;
  overflow: hidden;
  display: flex;
  border: 1px solid var(--secondary-accent-color);
  color: var(--default-black-color);
  font-size: 16px;
  font-family: var(--primary-font);
  margin: 23px auto;

  &__content {
    margin: 0 auto;
    align-self: center;
  }
}