.footer {
  padding: 72px 0;

  &__list {

    &--right {
      margin-left: auto;
    }
  }

  &__item {
    font-size: 14px;
    font-family: var(--primary-font);
    color: var(--thridly-text-color);
    padding-bottom: 5px;

    &--main {
      font-family: var(--primary-italic-font);
      color: var(--fourthly-text-color);
      padding-bottom: 15px;
      font-weight: bold;
    }
  }

  &__navigation {
    width: 100%;
  }

  &__form {
    margin-left: auto;
  }
}