.form {

  &__title {
    padding-bottom: 20px;
  }

  &__input {
    padding: 0 5px;
    border-left: 1px solid var(--thirdly-border-color);
    font-family: var(--primary-font);
    color: var(--thridly-text-color);
    background: transparent;
  }
}