.gallery {

  @media (--desktop-small) {
    padding-bottom: 60px;
  }

  &__item {
    padding-bottom: 20px;
    width: 100%;

    @media(--desktop-small) {
      width: 60%;
    }
  }

  &__list {
    padding-top: 54px;
  }


}