.gallery-detailed {


  &__current {
    width: 280px;
    height: 50px;
    overflow: hidden;
    display: flex;
    border: 1px solid var(--secondary-accent-color);
    color: var(--default-black-color);
    font-size: 14px;
    font-family: var(--primary-font);
    margin: 23px auto;
  }

  &__current-content {
    margin: 0 auto;
    align-self: center;
  }
}