.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  &__navigate {
    background-color: var(--accent-color);
    text-align: center;
    color: var(--secondary-accent-color);
  }

  &__logo {
    width: 150px;
  }

  &__link {
    display: block;
    margin: 14px auto 35px;
  }
}

