.most-popular {

  &__list {
    padding-top: 35px;
    max-width: 920px;
    justify-content: space-between;
    flex-flow: row nowrap;
    overflow-x: scroll;

    @media (--tablet-large) {
      overflow-x: inherit;
    }

    @media (--desktop-small) {
      padding-top: 54px;
      justify-content: center;
    }
  }
}