.photo-area {
  font-family: var(--primary-italic-font);
  color: var(--primary-text-color);
  font-size: 14px;
  position: relative;
  font-weight: normal;
  margin-bottom: 25px;
  padding-bottom: 10px;

  @media (--desktop-small) {
    margin-bottom: 30px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: var(--eighth-border-color);

    @media (--desktop-small) {
      width: 440px;
    }
  }
}
