.photo-title {
  font-family: var(--primary-italic-font);
  color: var(--default-black-color);
  font-weight: bold;
  font-size: 16px;
  padding: 20px 0 10px 0;
  position: relative;
  margin-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 440px;
    height: 1px;
    background-color: var(--eighth-border-color);
  }
}