.show-footer-button-container {
  transition: opacity 0.3s linear;

  &--hidden {
    opacity: 0;
  }

  &--disable {
    display: none;
  }

  &__button {
    display: block;
    width: 520px;
    height: 240px;
    margin: 0 auto;
    background: url('../../images/gradient.png') no-repeat center;
  }
}