.show-more {
  background-color: transparent;
  display: none;

  &--shown {
    display: block;
  }

  @media (--desktop-small) {
    display: none;
  }
  
  &__content {
    display: inline-block;
    /*background: var(--accent-color);*/
  }
}