.show-footer-button-container {
  transition: opacity 0.3s linear;

  &--hidden {
    opacity: 0;
  }

  &__button {
    display: block;
    width: 480px;
    height: 240px;
    margin: 0 auto;
    background: url('../../images/gradient.svg') no-repeat center;
  }
}