.tags {

  &__title {
    font-family: var(--primary-italic-font);
    font-size: 14px;
    color: var(--default-black-color);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 263px;
      height: 1px;
      background-color: var(--eighth-border-color);
    }

  }

}
