article.not-found.block-title-container
    h2.not-found__title.block-title 404
    div.not-found__content-container
        h2.not-found__content-title 404
        p.not-found__content-text Такой страницы не существует.
        p.not-found__content-text Перейдите на&nbsp;
            a.not-found__link(href="#")
                mark.not-found__highlight главную
            span.not-found__point .