article.not-found
    div.not-found__content-container
        p.not-found__content-text Такой страницы не существует.
        p.not-found__content-text Перейдите на&nbsp;
            a.not-found__link(href="#")
                mark.not-found__highlight главную
            span.not-found__point .