div.album
    div.album__images-grid.album__images-grid--medium
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32268/LhhbLtr7tHE.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32282/ttRGPBEHrqA.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32271/o-LYfCleUW0.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/3228b/uVdg_NMQhqA.jpg")
    div.album__images-grid.album__images-grid--small
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32268/LhhbLtr7tHE.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32282/ttRGPBEHrqA.jpg")
        img.album__image.album__image--horizontal(src="https://pp.userapi.com/c7006/v7006327/32271/o-LYfCleUW0.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/3228b/uVdg_NMQhqA.jpg")
    div.album__images-grid.album__images-grid--medium
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32268/LhhbLtr7tHE.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32282/ttRGPBEHrqA.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32271/o-LYfCleUW0.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/3228b/uVdg_NMQhqA.jpg")
    div.album__images-grid.album__images-grid--large
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32268/LhhbLtr7tHE.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32282/ttRGPBEHrqA.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32271/o-LYfCleUW0.jpg")
    div.album__images-grid.album__images-grid--small
        img.album__image.album__image--horizontal(src="https://pp.userapi.com/c7006/v7006327/32268/LhhbLtr7tHE.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32282/ttRGPBEHrqA.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/32271/o-LYfCleUW0.jpg")
        img.album__image(src="https://pp.userapi.com/c7006/v7006327/3228b/uVdg_NMQhqA.jpg")