div.album-modal-overlay.album-modal-overlay--closed.js-album-modal-overlay
    div.album-modal-overlay__content-container
        button.album-modal-overlay__arrow.album-modal-overlay__arrow--prev.js-prev-button prev
        button.album-modal-overlay__arrow.album-modal-overlay__arrow--next.js-next-button next
        img.album-modal-overlay__image.js-album-modal-overlay-image
