div.article-detailed.gel-layout
    div.article-detailed__clarification-container.gel-layout__item.gel-2-10-xl.js-clarification-container

    article.article-detailed__article.gel-layout__item.gel-6-10-xl
        p.article-detailed__paragraph Закомплексованный из-за своей внешности и лишнего веса, жуткий педант,
            span.article-detailed__term.js-term(data-term-title="Овофобия" data-term-description=" - боязнь предметов овальной формы.")  овофоб
            | , человек, который боится полиции и помешан на чистоте, — такой неординарный набор особенностей мог быть у поистине неординарного человека, имя которого Альфред Хичкок.
        p.article-detailed__paragraph Закомплексованный из-за своей внешности и лишнего веса, жуткий педант,
            span.article-detailed__term.js-term(data-term-title="Овофобия" data-term-description=" - боязнь предметов овальной формы.")  овофоб
            | , человек, который боится полиции и помешан на чистоте, — такой неординарный набор особенностей мог быть у поистине неординарного человека, имя которого Альфред Хичкок.
        p.article-detailed__paragraph Закомплексованный из-за своей внешности и лишнего веса, жуткий педант,
            span.article-detailed__term.js-term(data-term-title="Овофобия" data-term-description=" - боязнь предметов овальной формы.")  овофоб
            | , человек, который боится полиции и помешан на чистоте, — такой неординарный набор особенностей мог быть у поистине неординарного человека, имя которого Альфред Хичкок.