div.article-detailed-container
    div.article-detailed-container__time.block-title-container
        h2.block-title 29 дек 2016

    div.article-detailed-container__banner.banner.gel-layout
        img.banner__image(src="https://pp.userapi.com/c840323/v840323796/324b1/mcfZK9uapBw.jpg")
        div.banner__content-container
            h1.banner__title саспенс хичкока
            h2.banner__category Ликбез
            div.banner__views 1473
            p.banner__author Автор&nbsp;
                a.banner__link(href="#") Владислав Шуравин

    div.article-detailed-container__article-detailed.article-detailed.gel-layout
        div.article-detailed__clarification-container.gel-layout__item.gel-2-10-xl.js-clarification-container
        article
            p Закомплексованный из-за своей внешности и лишнего веса, жуткий
                span.js-term(data-term-title="Овофобия" data-term-description=" — боязнь предметов овальной формы.")  овофоб
                | , человек, который боится полиции и помешан на чистоте, — такой неординарный набор особенностей мог быть у поистине неординарного человека, имя которого Альфред Хичкок.

            p
                mark Закомплексованный из-за своей внешности и лишнего веса, жуткий
                    span.js-term(data-term-title="Овофобия" data-term-description=" — боязнь предметов овальной формы.")  овофоб
                    | , человек, который боится полиции и помешан на чистоте, — такой неординарный набор особенностей мог быть у поистине неординарного человека, имя которого Альфред Хичкок.
            p Закомплексованный из-за своей внешности и лишнего веса, жуткий
                span.js-term(data-term-title="Suspense" data-term-description=" — состояние тревожного ожидания, беспокойства. В английском языке этот термин широко употребляется при описании бытовых и жизненных ситуаций.")  Suspense
                | , человек, который боится полиции и помешан на чистоте, — такой неординарный набор особенностей мог быть у поистине неординарного человека, имя которого Альфред Хичкок.
            div
                iframe.js-article-materials-video(src="//vk.com/video_ext.php?oid=68504330&id=456239088&hash=4ea0441229f24491&hd=1"   allowfullscreen data-title="Video about Columbine" data-description="some description" data-area="vk.com")
            p Режиссер, как настоящий капитан команды, сдерживает всех своих игроков от ошибки. У Хичкока с этим проблем не наблюдалось. Возьмем сцену в душе из «Психо» (и пускай это самый банальный пример): еще до того, как героиня зашла мыться в душ, мы имеем полную информацию о ее персоне и о месте действия. Вплоть до 30 секунды идут планы моющейся героини — никаких причин волноваться нет. Однако на 30 секунде этого отрывка камера начинает снимать со стороны плитки в ванной, где отчетливо видно шторы и закрытую дверь. Вскоре мы наблюдаем, как дверь открывается и какой-то силуэт направляется к главной героине. Оп! Саспенс работает: коленки трясутся, нам страшно, развязка близка, но это еще не все! Пугающий силуэт открывает штору и в дело вступает дробный монтаж: то показывают зловещий силуэт, то испуганную героиню. Зритель только и ждет того, чтобы проклятая сцена закончилась. Играет легендарная композиция Германа Херрманна. Маньяк готовится нанести смертельный удар ножом. Вся ванна в крови, а зритель спокойно выдыхает, потому что невозможно терпеть эту проверку нервов так долго.
            div
                iframe.js-article-materials-video(src="https://www.youtube.com/embed/6QFwo57WKwg"  allowfullscreen data-title="DyE - Fantasy" data-description="описинаие, которое очень длинное описинаие, которое очень длинное описинаие, которое очень длинное описинаие, которое очень длинное " data-area="youtube.com")
            p Режиссер, как настоящий капитан команды, сдерживает всех своих игроков от ошибки. У Хичкока с этим проблем не наблюдалось. Возьмем сцену в душе из «Психо» (и пускай это самый банальный пример): еще до того, как героиня зашла мыться в душ, мы имеем полную информацию о ее персоне и о месте действия. Вплоть до 30 секунды идут планы моющейся героини — никаких причин волноваться нет. Однако на 30 секунде этого отрывка камера начинает снимать со стороны плитки в ванной, где отчетливо видно шторы и закрытую дверь. Вскоре мы наблюдаем, как дверь открывается и какой-то силуэт направляется к главной героине. Оп! Саспенс работает: коленки трясутся, нам страшно, развязка близка, но это еще не все! Пугающий силуэт открывает штору и в дело вступает дробный монтаж: то показывают зловещий силуэт, то испуганную героиню. Зритель только и ждет того, чтобы проклятая сцена закончилась. Играет легендарная композиция Германа Херрманна. Маньяк готовится нанести смертельный удар ножом. Вся ванна в крови, а зритель спокойно выдыхает, потому что невозможно терпеть эту проверку нервов так долго.
    div.article-detailed-container__article-materials.article-materials.gel-layout
        div.article-materials__video-list-container.gel-layout__item.gel-5-10-xl
            h4.article-materials__title Материалы
            ol.article-materials__video-list.js-article-materials-video-list
        div.article-materials__content-container.gel-layout__item.gel-5-10-xl
            ol.article-materials__content-list.js-article-materials-content-list
    div.article-detailed-container__article-source.article-source.gel-layout
        div.article-source__origin.origin.gel-layout__item.gel-6-10-xl
            h4.origin__title Источники
            ul.origin__list.gel-layout__item.gel-9-10-xl
                li.origin__item
                    span.origin__author Волошина-Сабашникова М. В.
                    a.origin__link(href="#")  Зеленая змеяю.
                    span.origin__description М., 1993.
                li.origin__item
                    span.origin__author Волошина-Сабашникова М. В.
                    a.origin__link(href="#")  Зеленая змеяю.
                    span.origin__description М., 1993.
                li.origin__item
                    span.origin__author Матич О. 
                    span.origin__description Эротическая утопия: новое религиозное сознание и fin de siècle в России. М., 2008.
        div.article-source__tags.tags.gel-layout__item.gel-3-10-xl
            h4.tags__title Теги
            ul.tags__list
                li.tags__item
                    a.tags__link(href="#") Хичкок
                li.tags__item
                    a.tags__link(href="#") Ликбез
    div.article-detailed-container__simple-links.simple-links
        a.simple-links__prev-link.simple-links__link(href="#")
            span.simple-links__pointer < пред
            h6.simple-links__title Какими бывают продюссеры?
        a.simple-links__next-link.simple-links__link(href="#")
            span.simple-links__pointer  след >
            h6.simple-links__title Джейк Джилленхол

