article.author-bio.block-title-container
    h2.author-bio__title.block-title автор
    h3.author-bio__name Александра Маяк
    h4.author-bio__status Журналист, администратор
    p.author-bio__description  Журналист андеграунд-среды, администратор музыкальных пабликов Вконтакте, организатор концертов и иного рода мероприятий. Москва
