a.column-commerical.column-commerical-container__column-commerical.gel-layout(href="#" target="_blank")
    img.column-commerical__image(src="https://pp.userapi.com/c309717/v309717608/918a/ijVPTpX9yNE.jpg")

    article.column-commerical__article
        h3.column-commerical__event Предпоказ
        h4.column-commerical__title «Дэвид Линч: жизнь в искусстве»
        time.column-commerical__time 04.04.2017
        address.column-commerical__address Атриум Музея «Гараж»