a.commerical-with-line.commerical-with-line-container__commerical-with-line.gel-layout(href="#" targe="_blank")
    img.commerical-with-line__image(src="https://pp.userapi.com/c840121/v840121434/4114b/OhCo08yrxNk.jpg")
    div.commerical-with-line__content-container
        div.commerical-with-line__advt
            h4.commerical-with-line__title Выставка «2 Стенберг 2»
            address.commerical-with-line__address галерея «Наши художники»
        time.commerical-with-line__time 20.05-24.07
