article.contacts.block-title-container
    h2.contacts__title.block-title Контакты
    article.contacts__contacts
        div.contacts__content-container
            p.contacts__content Журнал во&nbsp;&laquo;ВКонтакте&raquo;:&nbsp;
                a.contacts__link(href="https://vk.com/cinematographmag" title="https://vk.com/cinematographmag") vk.com/cinematographmag
            p.contacts__content Журнал в Telegram:&nbsp;
                a.contacts__link(href="https://t.me/cinematographmag" title="https://t.me/cinematographmag") t.me/cinematographmag
            p.contacts__content Журнал в Twitter:&nbsp;
                a.contacts__link(href="https://twitter.com/cinemamagtweet" title="https://twitter.com/cinemamagtweet") twitter.com/cinemamagtweet
        div.contacts__content-container
            p.contacts__content Электронная почта:&nbsp;
                a.contacts__link(href="mailto:connecttocinema@gmail.com" title="connecttocinema@gmail.com") connecttocinema@gmail.com
        div.contacts__content-container
            p.contacts__content Главный редактор Евгений Герштейн:&nbsp;
                a.contacts__link(href="tel:+79819897836" title="+7 981 989-78-36") +7 981 989-78-36
            p.contacts__content Шеф-редактор Дилара Герштейн:&nbsp;
                a.contacts__link(href="tel:+79373493763" title="+7 937 349-37-63") +7 937 349-37-63