footer.footer.gel-layout
    img.footer__image(src=require('../../images/cinematograph-footer.png'))
    nav.footer__navigation.gel-layout
        ul.footer__list.gel-layout__item.gel-2-10-xl
            li.footer__item.footer__item--main Разделы
            li.footer__item
                a.footer__link(href="#" title="Статьи") Статьи
            li.footer__item
                a.footer__link(href="#" title="Рецензии") Рецензии
            li.footer__item
                a.footer__link(href="#" title="Контакты") Контакты
        ul.footer__list.gel-layout__item.gel-2-10-xl
            li.footer__item.footer__item--main Контакты
            li.footer__item
                a.footer__link(href="https://vk.com/cinematographmag" target="_blank" title="Вконтакте") Вконтакте
            li.footer__item
                a.footer__link(href="#" target="_blank" title="Facebook") Facebook
            li.footer__item
                a.footer__link(href="#" target="_blank" title="Twitter") Twitter
        ul.footer__list.footer__list--right.gel-layuot__item.gel-3-10-xl
            li.footer__item.footer__item--main Подписка
            li.footer__item
                form.footer__form.form
                    fieldset.form__fieldset
                        legend.form__title Оставьте e-mail, чтобы получать наши новости
                        input.form__input.js-input-email(type="email" required placeholder="Ваш E-mail")
                        button.form__button.js-form-button(disabled title="Отправить")
                    span.form__status.form__status--hidden.js-form-status