article.gallery.block-title-container
    h2.gallery__title.block-title Галерея
    ul.gallery__list.gel-layout
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__link(href="#" title="Режиссеры как фотографы")
                img.gallery__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.gallery__card-title-container
                    h3.gallery__card-title
                        mark.gallery__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__link(href="#" title="Режиссеры как фотографы")
                img.gallery__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.gallery__card-title-container
                    h3.gallery__card-title
                        mark.gallery__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__link(href="#" title="Режиссеры как фотографы")
                img.gallery__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.gallery__card-title-container
                    h3.gallery__card-title
                        mark.gallery__highlight Режиссеры и съемочные группы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__link(href="#" title="Режиссеры как фотографы")
                img.gallery__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.gallery__card-title-container
                    h3.gallery__card-title
                        mark.gallery__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__link(href="#" title="Режиссеры как фотографы")
                img.gallery__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.gallery__card-title-container
                    h3.gallery__card-title
                        mark.gallery__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__link(href="#" title="Режиссеры как фотографы")
                img.gallery__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.gallery__card-title-container
                    h3.gallery__card-title
                        mark.gallery__highlight Экспериментальное кино в фотографиях
