article.gallery.block-title-container
    h2.gallery__title.block-title Галерея
    ul.gallery__list.gel-layout
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры как фотографы")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры как фотографы")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры как фотографы")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры как фотографы")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры как фотографы")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Режиссеры как фотографы
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры как фотографы")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Экспериментальное кино в фотографиях

