header.header
    nav.header__navigate home\files
    a.header__link(href="#" title="Cinematograph")
        img.header__logo(src=require('../../images/cinematograph.png') alt="cinematograph logo image")
