a.inline-commerical.gel-layout(href="#" target="_blank")
    div.inline-commerical__content-container
        h3.inline-commerical__status
            div.inline-commerical__status-content фетиш
        time.inline-commerical__time 09.04-10.05
        h3.inline-commerical__description
            div.inline-commerical__description-content Дэвид Линч и Кристиан Лубутен
    img.inline-commerical__image(src="https://pp.userapi.com/c837121/v837121795/49531/B4l1YIhZCkQ.jpg")