article.library.block-title-container
    h2.library__title.block-title библиотека
    ul.library__list.gel-layout
        li.library__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.card--book.most-popular__card(href="#" title="Кинематограф и фотография")
                div.card__image-container
                    img.card__image(src="https://j.livelib.ru/boocover/1000442171/o/8e7f/Dzh._R._R._Tolkin__Vlastelin_Kolets.jpeg")
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Андрей Тарковский. Мартиролог
                    span.card__text.card-text-shave Непрактичность поступков для меня признак высокого духа. Это означает бескорыстность. Но&nbsp;поступки не&nbsp;во&nbsp;имя бескорыстности как таковой, а&nbsp;потому что есть другие идеи, потому что мир вычисленный и&nbsp;построенный
        li.library__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.card--book.most-popular__card(href="#" title="Кинематограф и фотография")
                div.card__image-container
                    img.card__image(src="https://j.livelib.ru/boocover/1000442171/o/8e7f/Dzh._R._R._Tolkin__Vlastelin_Kolets.jpeg")
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Андрей Тарковский. Мартиролог
                    span.card__text.card-text-shave Непрактичность поступков для меня признак высокого духа. Это означает бескорыстность. Но&nbsp;поступки не&nbsp;во&nbsp;имя бескорыстности как таковой, а&nbsp;потому что есть другие идеи, потому что мир вычисленный и&nbsp;построенный

        li.library__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.card--book.most-popular__card(href="#" title="Кинематограф и фотография")
                div.card__image-container
                    img.card__image(src="https://j.livelib.ru/boocover/1000442171/o/8e7f/Dzh._R._R._Tolkin__Vlastelin_Kolets.jpeg")
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Андрей Тарковский. Мартиролог
                    span.card__text.card-text-shave Непрактичность поступков для меня признак высокого духа. Это означает бескорыстность. Но&nbsp;поступки не&nbsp;во&nbsp;имя бескорыстности как таковой, а&nbsp;потому что есть другие идеи, потому что мир вычисленный и&nbsp;построенный

        li.library__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.card--book.most-popular__card(href="#" title="Кинематограф и фотография")
                div.card__image-container
                    img.card__image(src="https://j.livelib.ru/boocover/1000442171/o/8e7f/Dzh._R._R._Tolkin__Vlastelin_Kolets.jpeg")
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Андрей Тарковский. Мартиролог
                    span.card__text.card-text-shave Непрактичность поступков для меня признак высокого духа. Это означает бескорыстность. Но&nbsp;поступки не&nbsp;во&nbsp;имя бескорыстности как таковой, а&nbsp;потому что есть другие идеи, потому что мир вычисленный и&nbsp;построенный
        li.library__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.card--book.most-popular__card(href="#" title="Кинематограф и фотография")
                div.card__image-container
                    img.card__image(src="https://j.livelib.ru/boocover/1000442171/o/8e7f/Dzh._R._R._Tolkin__Vlastelin_Kolets.jpeg")
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Андрей Тарковский. Мартиролог
                    span.card__text.card-text-shave Ты&nbsp;живешь в&nbsp;моём дворе,и ты&nbsp;чудо-хороша Я&nbsp;мечтал&nbsp;бы о&nbsp;тебе, но&nbsp;поймут&nbsp;ли кореша И&nbsp;ты&nbsp;живешь в&nbsp;моём дворе, твоя белая коса Постоянно на&nbsp;уме, но&nbsp;против девочек война И&nbsp;я&nbsp;пинаю твой портфель, я&nbsp;пинаю твой портфель Чтоб никто не&nbsp;догадался, что люблю тебя теперь Обзываю тебя дурой, обезьяной чи-чи-чи Чтоб, узнав о&nbsp;моих чувствах, не&nbsp;дразнились пацаны, типа:
