div.loader.js-loader
    div.loader__container
        div.bar1
        div.bar2
        div.bar3
        div.bar4
        div.bar5
        div.bar6
        div.bar7
        div.bar8
        div.bar9
        div.bar10