nav.mobile-navigate.mobile-navigate--hidden.js-mobile-navigate
    ul.mobile-navigate__list
        li.mobile-navigate__item
            a.mobile-navigate__link(href="#" title="журнал") журнал
        li.mobile-navigate__item
            a.mobile-navigate__link(href="#" title="галерея") галерея
        li.mobile-navigate__item
            a.mobile-navigate__link(href="#" title="контакты") контакты
        li.mobile-navigate__item
            a.mobile-navigate__link(href="#" title="видеотека") видеотека
        li.mobile-navigate__item
            a.mobile-navigate__link(href="#" title="библиотека") библиотека