div.mobile-logo-container
    a.mobile-logo-container__link(href="#" title="Журнал")
        img.mobile-logo-container__logo(src=require('../../images/cinematograph.svg') alt="cinematograph logo image")
    img.mobile-logo-container__hand(src=require('../../images/navigate/hand.svg') alt="hand icon")