header.mobile-header
    button.mobile-header__button.js-open-menu-button
    form.mobile-header__search-form
        input.mobile-header__search-input
        span.mobile-header__search-slash /
        button.mobile-header__search-button поиск