div.navigate-container
    nav.navigate.navigate-container__navigate
        img.navigate__image(src=require('../../images/navigate/main.png'))
        div.navigate__item.navigate__item--gallery
            a.navigate__link.navigate__link--gallery(href="#" title="галерея") галерея
        div.navigate__item.navigate__item--magazine
            a.navigate__link.navigate__link--magazine(href="#" title="журнал") журнал
        div.navigate__item.navigate__item--video
            a.navigate__link.navigate__link--video(href="#" title="видиотека") видиотека
        div.navigate__item.navigate__item--lib
            a.navigate__link.navigate__link--lib(href="#" title="библиотека") библиотека
        div.navigate__item.navigate__item--contacts
            a.navigate__link.navigate__link--contacts(href="#" title="контакты") контакты
        div.navigate__item.navigate__item--search
            form.navigate__search-form
                div.navigate__input-container
                    input.navigate__input(type="text")
                span.navigate__slash &nbsp; / &nbsp;
                button.navigate__button поиск