article.news.block-title-container
    h2.news__title.block-title новости
    ul.news__list.gel-layout
        li.news__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.news__card(href="#" title="Some news title")
                div.card__image-container
                        img.card__image(src=require('../../images/most-popular/most-popular-image1.png'))
                article.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Кинематограф и фотография
                    time.card__time 03 авг 2018    
                    span.card__text \новости