article.results.block-title-container
    h2.results__title.block-title Результаты
    ul.results__list
        li.results__item
            h3.results__search-title К сожалению, по Вашему запросу ничего не найдено.
