article.results.block-title-container
    h2.results__title.block-title Результаты
    ul.results__list
        li.results__item
            h3.results__search-title Ссылка на Cанчеза
            a.results__link(href="https://vk.com/id94363640" target="_blank" title="Ссылка на Санчеза") https://vk.com/id94363640
        li.results__item
            h3.results__search-title Ссылка на Cанчеза
            a.results__link(href="https://vk.com/id94363640" target="_blank" title="Ссылка на Санчеза") https://vk.com/id94363640
        li.results__item
            h3.results__search-title Ссылка на Cанчеза
            a.results__link(href="https://vk.com/id94363640" target="_blank" title="Ссылка на Санчеза") https://vk.com/id94363640

        li.results__item
            h3.results__search-title Ссылка на Cанчеза
            a.results__link(href="https://vk.com/id94363640" target="_blank" title="Ссылка на Санчеза") https://vk.com/id94363640
