a.second-inline-commerical.gel-layout(href="#" target="_blank")
    img.second-inline-commerical__image(src="https://pp.userapi.com/c7005/v7005928/41d17/ZD0Hxq7v8Uk.jpg")
    div.second-inline-commerical__content-container
        div.second-inline-commerical__session
            time.second-inline-commerical__time 19.02-23.03
            address.second-inline-commerical__address Стеклянная комната Музей “Гараж”
        h4.second-inline-commerical__title Курс журналистики “Новые медиа”
        span.second-inline-commerical__age 10+

