include ./footer
div.show-footer-button-container.show-footer-button-container--hidden.js-show-footer-button-container
    button.show-footer-button-container__button.js-show-footer-button
    +footer('footer js-footer main__footer main__footer--without-margin')