div.article-simple-container
    div.article-simple-container__time.block-title-container
        h2.block-title 29 дек 2016
    div.article-simple-container__banner.banner.gel-layout
        img.banner__image(src="https://pp.userapi.com/c840436/v840436415/11c6c/reKbEGeDvuE.jpg" )
        div.banner__content-container
            h1.banner__title Кинематограф и фотография
            h2.banner__category Размышелние о человеке
            div.banner__views 1473
            p.banner__author Автор&nbsp;
                a.banner__link(href="#")  Кирилл Колосов
    article.js-article
        p
            mark Барсело́на (кат. Barcelona [bəɾsəˈɫonə], исп. Barcelona [baɾθeˈlona]) — город в Испании, столица автономной области Каталония и провинции Барселона[3]. Порт на Средиземном море в 120 км от границы Франции. Крупнейший промышленный и торговый центр Испании. Один из важнейших туристических пунктов в европейских маршрутах. Население Барселоны — 1 608 680 человек (INE 2016). Это второй город в Испании по численности населения после Мадрида и десятый в Европейском союзе. В 1992 году Барселона принимала летние Олимпийские игры. В 2004 году в Барселоне проходил Всемирный культурный форум 2004. В марте 2010 года Барселона стала столицей Средиземноморского союза, в который входят 43 страны. В 2013 году в Барселоне проходил чемпионат мира по водным видам спорта.
        p Барсело́на (кат. Barcelona [bəɾsəˈɫonə], исп. Barcelona [baɾθeˈlona]) — город в Испании, столица автономной области Каталония и провинции Барселона[3]. Порт на Средиземном море в 120 км от границы Франции. Крупнейший промышленный и торговый центр Испании. Один из важнейших туристических пунктов в европейских маршрутах. Население Барселоны — 1 608 680 человек (INE 2016). Это второй город в Испании по численности населения после Мадрида и десятый в Европейском союзе. В 1992 году Барселона принимала летние Олимпийские игры. В 2004 году в Барселоне проходил Всемирный культурный форум 2004. В марте 2010 года Барселона стала столицей Средиземноморского союза, в который входят 43 страны. В 2013 году в Барселоне проходил чемпионат мира по водным видам спорта.
        img(src="https://pp.userapi.com/c837422/v837422045/5eeea/9e3VfHt-fzo.jpg" alt="Описание" data-area="vk.com" data-href="https://vk.com/cinematographmag")
        p Барсело́на (кат. Barcelona [bəɾsəˈɫonə], исп. Barcelona [baɾθeˈlona]) — город в Испании, столица автономной области Каталония и провинции Барселона[3]. Порт на Средиземном море в 120 км от границы Франции. Крупнейший промышленный и торговый центр Испании. Один из важнейших туристических пунктов в европейских маршрутах. Население Барселоны — 1 608 680 человек (INE 2016). Это второй город в Испании по численности населения после Мадрида и десятый в Европейском союзе. В 1992 году Барселона принимала летние Олимпийские игры. В 2004 году в Барселоне проходил Всемирный культурный форум 2004. В марте 2010 года Барселона стала столицей Средиземноморского союза, в который входят 43 страны. В 2013 году в Барселоне проходил чемпионат мира по водным видам спорта.
        p Барсело́на (кат. Barcelona [bəɾsəˈɫonə], исп. Barcelona [baɾθeˈlona]) — город в Испании, столица автономной области Каталония и провинции Барселона[3]. Порт на Средиземном море в 120 км от границы Франции. Крупнейший промышленный и торговый центр Испании. Один из важнейших туристических пунктов в европейских маршрутах. Население Барселоны — 1 608 680 человек (INE 2016). Это второй город в Испании по численности населения после Мадрида и десятый в Европейском союзе. В 1992 году Барселона принимала летние Олимпийские игры. В 2004 году в Барселоне проходил Всемирный культурный форум 2004. В марте 2010 года Барселона стала столицей Средиземноморского союза, в который входят 43 страны. В 2013 году в Барселоне проходил чемпионат мира по водным видам спорта.
        p
            a(href="#" target="_blank") Барсело́на
            |&nbsp;(кат. Barcelona [bəɾsəˈɫonə], исп. Barcelona [baɾθeˈlona]) — город в Испании, столица автономной области Каталония и провинции Барселона[3]. Порт на Средиземном море в 120 км от границы Франции. Крупнейший промышленный и торговый центр Испании. Один из важнейших туристических пунктов в европейских маршрутах. Население Барселоны — 1 608 680 человек (INE 2016). Это второй город в Испании по численности населения после Мадрида и десятый в Европейском союзе. В 1992 году Барселона принимала летние Олимпийские игры. В 2004 году в Барселоне проходил Всемирный культурный форум 2004. В марте 2010 года Барселона стала столицей Средиземноморского союза, в который входят 43 страны. В 2013 году в Барселоне проходил чемпионат мира по водным видам спорта.

    div.article-simple-container__photo-links.photo-links
        a.photo-links__link.photo-links__prev-link(href="#")
            img.photo-links__image(src="https://pp.userapi.com/c7002/v7002630/39562/ZxZF3f_MW8U.jpg")
            span.photo-links__pointer < пред
            div.photo-links__title-container
                h3.photo-links__title Какими бывают продюсеры?
        a.photo-links__link.photo-links__next-link(href="#")
            img.photo-links__image(src="https://pp.userapi.com/c631521/v631521330/51a25/sic9ELjzk1Q.jpg")
            span.photo-links__pointer  след >
            div.photo-links__title-container
                h3.photo-links__title Джейк Джилленхол