mixin term-card(classNames)
    div(class=classNames)
       button.term-card__close-button
            include ../../images/icons/close-button.svg
       h4.term-card__title
       p.term-card__description