article.gallery.block-title-container
    h2.gallery__title.block-title видеотека
    ul.gallery__list.gel-layout.js-gallery-video-list
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Режиссеры")
                img.large-card__image(src="https://pp.userapi.com/c7007/v7007484/17c57/cxQLhlBh_dY.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Режиссеры
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Советский кинематограф")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Советский кинематограф
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Экспериментальное кино")
                img.large-card__image(src="https://pp.userapi.com/c638722/v638722727/25d8f/tODGOGV4jlE.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Экспериментальное кино
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Японская классика")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Японская классика
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Фильмы дадаистов")
                img.large-card__image(src="https://pp.userapi.com/c543108/v543108670/42752/_3bvWdx3Zn0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Фильмы дадаистов
        li.gallery__item.gel-layout__item.gel-5-10-xl
            a.gallery__large-card.large-card(href="#" title="Документальное кино")
                img.large-card__image(src="https://pp.userapi.com/c841627/v841627143/2a71d/kXLjUziWtS0.jpg")
                div.large-card__title-container
                    h3.large-card__title
                        mark.large-card__highlight Документальное кино


