article.video-detailed-movies.block-title-container
    h2.video-detailed-movies__title.block-title видеотека
    h3.video-detailed-movies__current.current
        div.current__content Режиссеры \ Ингмар Бергман
    ul.video-detailed-movies__list.gel-layout
        li.video-detailed-movies__item.gel-layout__item.gel-5-10-xl.large-card
            iframe.large-card__iframe(width="560" height="315" src="https://www.youtube.com/embed/l9X6nSXwcas" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
            div.large-card__title-container.large-card__title-container--dark-border-color
                h3.large-card__title
                    mark.large-card__highlight Последний вздох
        li.video-detailed-movies__item.gel-layout__item.gel-5-10-xl.large-card
            iframe.large-card__iframe(width="560" height="315" src="https://www.youtube.com/embed/EVw_LgdEmUg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
            div.large-card__title-container.large-card__title-container--dark-border-color
                h3.large-card__title
                    mark.large-card__highlight Еще один последний вздох
        li.video-detailed-movies__item.gel-layout__item.gel-5-10-xl.large-card
            iframe.large-card__iframe(width="560" height="315" src="https://youtu.be/l9X6nSXwcas" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
            div.large-card__title-container.large-card__title-container--dark-border-color
                h3.large-card__title
                    mark.large-card__highlight Теперь точно последний вздох
        li.video-detailed-movies__item.gel-layout__item.gel-5-10-xl.large-card
            iframe.large-card__iframe(width="560" height="315" src="https://www.youtube.com/embed/Ni2SUP5_qKs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
            div.large-card__title-container.large-card__title-container--dark-border-color
                h3.large-card__title
                    mark.large-card__highlight Конец